
body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir", sans-serif;
}

h1 {
    color: white;
    background-color: steelblue;
    text-align: center;
    line-height: 1.1;
    margin: 0;
    padding: 20px 0;
    font-weight: normal;
    text-transform: uppercase;
}

#colorDisplay {
    font-size: 200%;
}

#message {
    display: inline-block;
    width: 20%;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    margin: 1.6%;
    float: left;
    border-radius: 15%;
    transition: background-color 600ms;
    -webkit-transition: background-color 600ms;
    -moz-transition: background-color 600ms;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    height: 100%;
    color: steelblue;
    font-size: inherit;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    outline: none;
}

button:hover {
    color: white;
    background-color: steelblue;
}

.selected {
    color: white;
    background-color: steelblue;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

