
img {
    width: 30%;
    float: left;
    margin: 1.666%;
}

p {
    width: 30%;
    margin-left: 1.666%;

    font-family: Raleway;
    font-size: 23px;
    font-weight: 800;

    text-transform: uppercase;
    border-bottom: 2px solid #F1F1F1;
    padding-bottom: 20px;
}

